<body>
    <form action=>
        <label for="isbn">ISBN</label>
        <input type="text" name="isbn" id="isbn"><br>
        <label for="TITLE">TITLE</label>
        <input type="text" name="title" id="title"><br>
        <label for="subtitle">SUBTITLE</label>
        <input type="text" name="subtitle" id="subtitle"><br>
        <label for="author">AUTHOR</label>
        <input type="text" name="author" id="author"><br>
        <label for="published">PUBLISHED</label>
        <input type="text" name="published" id="published"><br>
        <label for="publisher">PUBLISHER</label>
        <input type="text" name="publisher" id="publisher"><br>
        <label for="pages">PAGES</label>
        <input type="text" name="pages" id="pages"><br>
        <label for="description">DESCRIPTION</label>
        <input type="text" name="description" id="description"><br>
        <label for="website">WEBSITE</label>
        <input type="text" name="website" id="website"><br>
        <input type="submit" value="Submit">
    </form>
</body>
